#headingSection {
    min-height: 25vh;
    background-color: #7b8091;
}

/*Section for form style*/
iframe {
    max-width: 90vw;
    margin: 0 auto;
}
/*
.myContainer {
    
}
*/

/*Responsive for PC/Laptop*/
@media screen and (min-width: 768px){
    iframe {
        width: 70vw;
        margin: 0 auto;
    }
}