#headerSection {
    min-height: 25vh;
    background-color: #7b8091; 
}

form {
    width: 100%;
}

@media scren and (min-width: 600px){
    form {
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    form {
        width: 50vw;
        
    }
}