#rssDisplay {
    display: grid;
    grid-template-columns: 1fr;
    
}

.box {
    background-color: #b3a98a;
    margin: 1em;
    padding: 2em 1em;
    overflow: hidden;
}

/*For Tablets*/
@media screen and (min-width: 600px){
    #rssDisplay {
        grid-template-columns: 1fr 1fr;
    }
}

/*For Computer Screens and laptops*/
@media screen and (min-width: 768px){
    #rssDisplay {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

