/* Mobile first Approach:
	All tbe bellow csss style will be defined for mobile devices
*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI' , Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1em;
	
}

body {
	font-size: 1.1em;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	font-family: 'Arial, helvetica, sans-serif';
	background-color: #f4f4f4; 
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

.container {
	margin: 0 auto;
	width: 90%;	
	
}

header {
	width: 100%;
	background-color: #2a3a4a;
	padding: 1.5em 0;
	line-height: 2.3m;
	font: white;
	min-height: 7vh;
	
	/*Create a grid here: 14 columns*/
	
}


.navbar-brand {
	/*grid-column: 1/2;*/
	width: 2em;
	height: 2em;
	/*margin: auto;*/
}


#nav-brand-title {
	padding-right: 1em;
	color: white;
}

.dropdown-menu {
	background-color: #415874;
}

/*Set style for the drop down items of the nav bar*/
nav .dropdown-item {
	color: white;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}

nav li {
	display: block;
}
nav a {
	/*display: block;*/
	color: white;
	text-align: center;
	font-size: 1.1em;
	text-decoration: none;
	text-transform: uppercase;
	padding: 14px 16px;
}

#active a {
	color: #2a9b35;
}

 a:hover:not(.active) {
	color: yellow;
	background-color: #415874;
}

main {
	background-color: #E6E6E6;
}

#showcase {
	/*width: 95%;  ask daniel*/
	min-height: 40vh;
	background-color: #060619;
	background-image: url("../images/backgroundImg.jpg");
	background-size: 100% 100%;
	background-repeat: repeat-y;
	padding: 4em 0 2em 0;
	text-align: center;
	color: #f2f2f2;
	font-size: 1.1em;
}

#showcase h1 {
	font-size: 2.0em;
}

#contact {
	background-color: #689569;
	width: 100%;
	padding: 2em 0;
}




input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	margin-bottom: 16px;
}

input[type=reset] {
	margin-bottom: 16px;
}

form {
	width: 80vw;
	margin: 0 auto;
}

#formButton {
	width: 80vw;
	margin: 0 auto;
}

#formSubmitButton {
	width: 80vw;
	margin: 0 auto;
	margin-bottom: 1.5em;
}

#about-us {
	padding: 2em 0;
	
}

footer {
	background-color: #2a3a4a;
	color: white;
	min-height: 4.2em;
	padding: 1em 0;
	text-align: center;
}



/*The below styles will be customised and changed when displaying website on PC/Laptop/ipad/tablet
*/
/*Pc responsiveness*/
@media screen and (min-width: 768px) {
	nav li{
		display: inline-block;
	} 

	form {
		width: 50vw;
		margin: 0 auto;
	}
	
	.header-branding img {
		width: 3em;
		height: 3em;
	}
	
	.header-branding h2 {
		font-size: 2em;
	}
	
	#formButton {
		width: 50vw;
		margin: 0 auto;
	}

	#formSubmitButton {
		width: 50vw;
		margin: 0 auto;
		margin-bottom: 1.5em;

	}

	#showcase {
		/*width: 80%; ask daniel*/
		min-height: 30vh;
		font-size: 1.5em;
	}

	#showcase h1 {
		font-size: 3.3em;
	}
	
}