/* Mobile first Approach:
	All tbe bellow csss style will be defined for mobile devices
*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	
	font-family: 'Segoe UI' , Tahoma, Geneva, Verdana, sans-serif;
	/*
	font-size: 1em;
	*/
	
}

body {
	font-size: 1.1em;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	font-family: 'Arial, helvetica, sans-serif';
	background-color: #f4f4f4;
	
}

/*
h1 {
	font-size: 3em;
}
*/
/*commented out because effecting other h2 
h2 {
	font-size: 2em;
}
*/

/*Style for div container*/
.myContainer {
	margin: 0 auto;
	width: 95vw;	
}

/*Style for the brief section*/
.brief {
	min-height: 25vh;
	background-color: #7b8091;
}

header {
	width: 100%;
	background-color: #2a3a4a;
	padding: 1.5em 0;
	line-height: 2.3m;
	font: white;
	min-height: 7vh;
	border-bottom: #2a9b35 3px solid;
	
	/*Create a grid here: 14 columns*/
	
}

/*==================THIS SECTION IS FOR STYLING THE NAV SECTION============================================*/

.navbar-brand {
	/*grid-column: 1/2;*/
	width: 2em;
	height: 2em;
	/*margin: auto;*/
}


#nav-brand-title {
	padding-right: 1em;
	color: white;
}

.dropdown-menu {
	background-color: #2a3a4a;
}

/*Set style for the drop down items of the nav bar*/
nav .dropdown-item {
	color: white;
}
/*
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}
*/
/*
#nav_ul {
	float: right;
}
*/
nav li {
	display: block;
}
nav a {
	/*display: block;*/
	color: white;
	text-align: center;
	font-size: 1.1em;
	text-decoration: none;
	text-transform: uppercase;
	padding: 14px 16px;
}

#active a {
	color: #2a9b35;
}

 a:hover:not(.active) {
	color: yellow;
	background-color: #415874;
}

main {
	background-color: #E6E6E6;
	border-bottom: #2a9b35 3px solid;
}

#showcase {
	/*width: 95%;  ask daniel*/
	min-height: 40vh;
	background-color: #060619;
	background-image: url("../images/backgroundImg.jpg");
	background-size: 100% 100%;
	background-repeat: repeat-y;
	padding: 4em 0 2em 0;
	text-align: center;
	color: #f2f2f2;
	font-size: 1.1em;
}

#showcase h1 {
	font-size: 2.0em;
}

/*==================THIS SECTION IS FOR STYLING THE ABOUT-ME SECTION============================================*/

#about-me {
	display: grid;
	grid-template-columns: 1fr;
}
/*Style the web technologies box*/
#webTechBox {
	background-color: #007491;
	overflow: hidden;
	padding: 1em 2em 0 2em;
}

/*Style the web technologies box heading*/
#webTechBox h2 {
	size: 1.5em;
}

/*Style for the webtechnologies box paragraph*/
#webtechBox p {
	size: 1.1em;
}

/*Style for the bio box*/
#bioBox {
	background-color: #2a9b35;
}

/*Style for bio box heading*/
#bioBox h2 {
	size: 1.5em;
}

/*Style container for image and paragraph will be grid view*/
#bioCard {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/*Style for bio box paragraph*/
#bioBox p {
	size: 1.2em;
}

/*Style for bio box image*/
#bioImg {
	height: 8.0em;
	width: 8.0em;
	border-radius: 50%;
}

/*==================THIS SECTION IS FOR STYLING THE SKILLS SECTION============================================*/

/*Style for the div that holds all the skill boxes*/
#skillGridContainer {
	display: grid;
	grid-template-columns: 1fr;
}

/*Style for skill box*/
.skillBox {
	background-color: #E0E0E0;
	margin: 1.0em;
	padding: 2em 1em;
	text-align: center;
}

/*Style for skill box heading*/
#skillBox h2 {
	size: 1.5em;
}

/*Style for skill box paragraph*/
#skillBox p {
	size: 1.2em;
}

.skillBoxImg {
	height: 6.0em;
	width: 6.0em;
}

/*==================THIS SECTION IS FOR STYLING THE AUTHENTICATION SECTION============================================*/

/*Style for the authentication Section*/
#authentication {
	background-color: tomato;

}

#authentication h2 {
	size: 1.5em;
}

#authentication p {
	size: 1.2em;
	padding-bottom: 1em;
	margin-bottom: 0;
}

#contact {
	background-color: #689569;
	width: 100%;
	padding: 2em 0;
	margin-bottom: 0;
}

/*=================================THIS STYLE SECTION IS FOR XML RULES WEBPAGE======================================*/

/*Style for rulesBox*/
.rulesBox {
	background-color: #E0E0E0;
	margin: 1em;
	padding: 1em;
}


input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit] {
	margin-bottom: 16px;
}

input[type=reset] {
	margin-bottom: 16px;
}

form {
	width: 80vw;
	margin: 0 auto;
}

#formButton {
	width: 80vw;
	margin: 0 auto;
}

#formSubmitButton {
	width: 80vw;
	margin: 0 auto;
	margin-bottom: 1.5em;
}

#about-us {
	padding: 2em 0;
	
}

footer {
	background-color: #2a3a4a;
	color: white;
	min-height: 4.2em;
	padding: 1em 0;
	text-align: center;
}



/*The below styles will be customised and changed when displaying website on PC/Laptop/ipad/tablet
*/
/*Pc responsiveness*/
@media screen and (min-width: 768px) {
	nav li{
		display: inline-block;
	} 

	/*Style for myContainer*/
	.myContainer {
		width: 80vw;
	}

	form {
		width: 50vw;
		margin: 0 auto;
	}
	
	.header-branding img {
		width: 3em;
		height: 3em;
	}
	
	.header-branding h2 {
		font-size: 2em;
	}
	
	#formButton {
		width: 50vw;
		margin: 0 auto;
	}

	#formSubmitButton {
		width: 50vw;
		margin: 0 auto;
		margin-bottom: 1.5em;

	}

	#showcase {
		/*width: 80%; ask daniel*/
		min-height: 30vh;
	}

	#showcase p {
		size: 1.5em;
	}

	#showcase h1 {
		font-size: 2.3em;
	}
	/*Change about-me section to fit two elements next to eachother*/
	#about-me {
		grid-template-columns: 1fr 1fr;
	}
	
	/*laptop style for skillGridContainer*/
	#skillGridContainer {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
 /*======================MEDIA QUERY FOR LAPTOP===============================================*/
@media screen and (min-width: 600px){
	#showcase p {
		size: 1.3em;
	}

	#showcase h1 {
		size: 2em;
	}
}